{%- macro id_custom(characters, pattern='$$$$$$$$-$$$$$$$$-$$$$$$$$') -%}
    {%- set generator = namespace(template=pattern, uuid = '') -%}
    {%- for char in generator.template -%}
        {%- set generator.uuid = [generator.uuid, (char | replace('$', (characters | random) ))] | join -%}
    {%- endfor -%}

    {{ generator.uuid }}
{%- endmacro -%}

{%- macro id_dec(pattern='$$$$$$$$-$$$$$$$$-$$$$$$$$') -%}
    {{ id_custom([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], pattern) }}
{%- endmacro -%}

{%- macro id_hex(pattern='$$$$$$$$-$$$$$$$$-$$$$$$$$') -%}
    {{ id_custom([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e', 'f'], pattern) }}
{%- endmacro -%}

{%- macro id_alphanum(pattern='$$$$$$$$-$$$$$$$$-$$$$$$$$') -%}
    {{ id_custom([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], pattern) }}
{%- endmacro -%}

{%- macro id_alpha(pattern='$$$$$$$$-$$$$$$$$-$$$$$$$$') -%}
    {{ id_custom(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], pattern) }}
{%- endmacro -%}